@import "tailwindcss";

.glowing-button {
  box-shadow: 0 0 10px #ff1a1a, 0 0 20px #ff1a1a, 0 0 30px #ff1a1a;
}
.glowing-button:hover {
  animation: shake 0.4s infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px); }
  25% { transform: translate(-1px, -1px); }
  50% { transform: translate(1px, -1px); }
  75% { transform: translate(-1px, 1px); }
  100% { transform: translate(0, 0); }
}

.diagonal-strike {
  position: relative;
  display: inline-block;

}

.diagonal-strike::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  width: 140%;
  height: 4px;
  background: linear-gradient(to right, 
    black 0%, 
    black 45%, 
    transparent 50%, 
    black 55%, 
    black 100%);
  transform: rotate(-9deg);
  transform-origin: left center;
  pointer-events: none;
}
